@page "/about"

<PageTitle>About</PageTitle>

<h2>About</h2>
<MudGrid>
    <MudItem xs="12" sm="12" lg="10">
        <MudPaper Class="pa-4">
            <MudItem xs="12" sm="12" md="12" lg="12">
                <p>
                    Recipe Lewis is a simple website to share recipes from the Gruber and Lewis family. Created and maintained by Scott Lewis.
                </p>
                <p>
                    Adding and editing recipies is whitelisted to family members, please register and request access from your profile.
                </p>
            </MudItem>
        </MudPaper>
    </MudItem>
</MudGrid>
