@using System.ComponentModel.DataAnnotations
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<MudNavMenu>
    <MudNavLink Href="/recipes" Match="NavLinkMatch.Prefix">Recipes</MudNavLink>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
    <MudNavLink Href="/profile" Match="NavLinkMatch.Prefix">Profile</MudNavLink>
    @if (userRole == Role.Admin)
    {
        <MudNavLink Href="/admin" Match="NavLinkMatch.Prefix">Admin</MudNavLink>
    }
    <div hidden="@(!loggedIn)">
        <MudNavLink @onclick="GoLogout" Match="NavLinkMatch.Prefix">Logout</MudNavLink>
    </div>
    <div hidden="@(loggedIn)">
        <MudNavLink Href="/login" Match="NavLinkMatch.Prefix">Login</MudNavLink>
    </div>
</MudNavMenu>

@code {
    private bool loggedIn;
    private Role userRole;
    public void GoLogout()
    {
        AuthenticationService.Logout();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        bool newloggedIn = AuthenticationService.User != null;
        Role newRole = AuthenticationService.User?.Role ?? Role.Unknown;
        if (firstRender || loggedIn != newloggedIn || userRole != newRole)
        {
            loggedIn = newloggedIn;
            userRole = newRole;
            StateHasChanged();
        }
    }
}